<section class="task-space position-relative">

  <app-error [error]="errorAlert"></app-error>

  <h1 class="d-flex h3 px-3 pt-3">
    <div style="width: 175px;">TODO APP</div>
    <div *ngIf="list != null" class="fs-6 pt-2" style="font-style: italic;">LIST: {{list?.name}} </div>
  </h1>

  <section class="task-form text-center my-3">

    <app-form [list]="list" (addTaskEvent)="addTask($event)"></app-form>

  </section>
  <section class="task-list">

    <div class="d-flex justify-content-center" *ngIf="list == null"><span>SELECT LIST FIRST</span></div>
    <div *ngFor="let task of tasksInList" class="d-flex mx-4 mt-2 mb-3">
      <li [class]="isComplete(task)" id="single-task-{{task.id}}" class="py-1 px-2">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-calendar mb-1"
            viewBox="0 0 16 16">
            <path
              d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
          </svg> <span class="mx-1">{{task?.date}}</span>
        </span>
        <hr class="my-2" />
        <span>{{task?.name}} </span>
      </li>


      <div>
        <button class="d-block" id="complete-button" (click)="changeToComplete(task)" type="button"><svg
            xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-check"
            viewBox="0 0 16 16">
            <path
              d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
          </svg></button>


        <button class="d-block" id="delete-button" (click)="deleteTask(task)" type="button"> <svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill"
            viewBox="0 0 16 16">
            <path
              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
          </svg></button>
      </div>


    </div>

  </section>
  <section class="space-end">
    <button type="button" class="remove-button mx-4 mb-2">
      Remove all completed
    </button>
  </section>
</section>